.gm-style-iw:nth-child(2)  {
	top: 23px !important;
	width: 100% !important;
}

/* TITLE */
#iw-title {
	font-size: 30px;
	font-weight: 400;
	color: aliceblue;
	text-align: center;
	background-color: orange;
}

#iw-title a {
	text-decoration: none;
	color: inherit;
}

#iw-title a:hover {
	color: #795548;
}

/* RATING */
#iw-rating {
	font-size: 20px;
	font-weight: 400;
	color: aliceblue;
	text-align: center;
	background-color: orange;
	border-bottom: 2px solid orange;
	width: 100%;
}

/* PHOTO */
#iw-photo {
	padding: 0px;
}

/* IS OPEN */
#iw-isOpen {
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}

/* STATUS */
#iw-status p {
	text-align: center;
	font-size: 15px;
	margin-bottom: 0px;
}

/* HOURS OF OPERATION */
#iw-hoursOO {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
	margin-top: 10px;
}

#iw-hours p {
	text-align: center;
	font-size: 20px;
}

#iw-hours ul {
	list-style-type: none;
	padding-left: 0px;
}

#iw-hours ul li {
	font-size: 15px;
	margin-bottom: 2px;
}

li div {
	float: right;
}

/* DESCRIPTION */
#iw-description p:first-child {
	font-size: 20px;
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;
	margin: 10px 0px 5px 0px;
}

#iw-description p:last-child {
	font-size: 15px;
	padding: 0px 10px;
	text-align: center;
	margin-bottom: 0px;
}

/* TIPS */
.hasTips {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
	margin: 10px 0px 5px 0px;
}

blockquote {
	font-size: 15px;
	text-align: center;
	margin-bottom: 0px;
	border: none;
}

hr {
	margin: 10px 0px;
}

/* SOCIAL */
#iw-social a {
	padding: 0px 5px 0px 5px;
}

.fa-facebook-official {
	color: #3b5998;
	font-size: 50px;
}

.fa-twitter {
	color: #55acee;
	font-size: 50px;
}

.iw-container {
	background-color: white;
	border: 2px solid orange;
	border-radius: 5px;
	max-height: 575px;
	overflow: auto;
}