.gm-style-iw:nth-child(2) {
    top: 23px !important;
    width: 100% !important;
}

/* TITLE */
#iw-title {
    font-size: 30px;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    background-color: orange;
    padding: 0;
}

#iw-title a {
    text-decoration: none;
    color: inherit;
}

#iw-title a:hover {
    color: #795548;
}

.fa-star {
    margin-left: 10px;
}

.fa-star:hover {
    color: yellow;
    cursor: pointer;
}

.starred {
    color: yellow;
}

/* RATING */
#iw-rating {
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    background-color: orange;
    border-bottom: 2px solid orange;
    width: 100%;
    padding: 0;
}

/* PHOTO */
#iw-photo {
    padding: 0px;
}

/* IS OPEN */
#iw-isOpen {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

/* STATUS */
#iw-status p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}

/* HOURS OF OPERATION */
#iw-hoursOO {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
}

#iw-hours p {
    text-align: center;
    font-size: 20px;
}

#iw-hours ul {
    list-style-type: none;
    padding-left: 0px;
}

#iw-hours ul li {
    font-size: 15px;
    margin-bottom: 2px;
}

li div {
    float: right;
}

/* DESCRIPTION */
#iw-description p:first-child {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    margin: 10px 0px 5px 0px;
}

#iw-description p:last-child {
    font-size: 15px;
    padding: 0px 10px;
    text-align: center;
    margin-bottom: 0px;
}

/* TIPS */
.hasTips {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0px 5px 0px;
}

blockquote {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
    border: none;
}

hr {
    margin: 10px 0px;
}

/* CONTACT */
#iw-contact {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
}

.fa-phone-square {
    font-size: 50px;
    color: #795548;
}

#iw-phoneIcon {
    text-align: left;
}

#iw-phoneNum p {
    font-size: 15px;
    text-align: left;
    margin-bottom: 0px;
    height: 50px;
    line-height: 50px;
}

/* SOCIAL */
#iw-social {
    text-align: left;
    margin-top: 10px;
}

.fa {
    margin-right: 20px;
}

.fa-foursquare {
    color: #f94877;
    font-size: 47px;
}

.fa-facebook-official {
    color: #3b5998;
    font-size: 50px;
}

.fa-twitter {
    color: #55acee;
    font-size: 50px;
}

/* LOCATION */
#iw-location {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
}

#iw-formattedAddress p {
    font-size: 15px;
}

/* LOADING CONTENT */
.loading {
    font-size: 50px;
    text-align: center;
}

.iw-container {
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    min-height: 100px;
    max-height: 575px;
    overflow-y: auto;
}